<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <servlet>
        <servlet-name>inputServlet</servlet-name>
        <servlet-class>com.example.demo2.servlet.InputServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>submitServlet</servlet-name>
        <servlet-class>com.example.demo2.servlet.SubmitServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>inputServlet</servlet-name>
        <url-pattern>/user/input</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>submitServlet</servlet-name>
        <url-pattern>/user/submit</url-pattern>
    </servlet-mapping>
</web-app>
